<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>birdyellow1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{34,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,25}}</string>
                <key>sourceSize</key>
                <string>{34,25}</string>
            </dict>
            <key>birdyellow2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,29},{33,25}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,25}}</string>
                <key>sourceSize</key>
                <string>{35,25}</string>
            </dict>
            <key>birdyellow3.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,2},{34,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,24}}</string>
                <key>sourceSize</key>
                <string>{34,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>birdyellow.png</string>
            <key>size</key>
            <string>{64,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a1d1a4e7f3617371b16bf5d23b13d87d$</string>
            <key>textureFileName</key>
            <string>birdyellow.png</string>
        </dict>
    </dict>
</plist>
